<main>
  <div class="bio" ng-repeat='abouts in about'>
    <div class="project-container">
      <div ng-hide='$index % 2 != 0' class="video-container">
        <img width="420" height="315" src="{{}}" ></iframe>
      </div>
      <div class="info-container">
        <h1>{{abouts.title}}</h1>
        <p>
          {{abouts.text}}
        </p>
      </div>
      <div ng-show='$index % 2 != 0' class="video-container">
        <iframe width="420" height="315" src="{{project.video}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</main>
