<main>
  <div class="back" ui-sref='home'>
    <h2>back</h2>
  </div>
  <div class="project" ng-repeat='project in projects'>
    <div class="project-container">
      <div class="video-container">
        <iframe width="420" height="315" src="{{project.video}}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="info-container">
        <h1>{{project.name}}</h1>
        <h2>Description</h2>
        <p>
          {{project.description}}
        </p>
        <h2>Tech</h2>
        <p>
          {{project.tech}}
        </p>
      </div>
    </div>
  </div>
</main>
